@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background-light: #ffffff;
  --color-background-dark: #0a0a0a;
  --color-foreground-light: #171717;
  --color-foreground-dark: #ededed;
  --transition-colors: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

@layer base {
  :root {
    --color-background: var(--color-background-light);
    --color-foreground: var(--color-foreground-light);
  }

  .dark {
    --color-background: var(--color-background-dark);
    --color-foreground: var(--color-foreground-dark);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-ibm-plex-sans-kr);
    transition: var(--transition-colors);
  }

  * {
    transition: var(--transition-colors);
  }

  h1 {
    font-size: var(--text-3xl);
    font-weight: var(--font-weight-medium);
  }
  h2 {
    font-size: var(--text-2xl);
  }
  h3 {
    font-size: var(--text-xl);
  }
  h4 {
    font-size: var(--text-lg);
  }
  h5 {
    font-size: var(--text-base);
  }
  h6 {
    font-size: var(--text-sm);
  }
  a {
    color: var(--color-indigo-600);
  }
  ul {
    @apply list-disc list-outside ml-3 pl-3 py-1;
  }
  ol {
    @apply list-decimal list-outside ml-3 pl-3 py-1;
  }
  hr {
    @apply my-8;
  }
  code,
  pre {
    @apply font-(family-name:--font-source-code-pro) p-1.5 my-1.5 mx-1 rounded-md;
  }
  blockquote {
    @apply border-l-4 border-fuchsia-400 dark:border-fuchsia-500 pl-3 pr-2 py-2 m-2 bg-slate-300 dark:bg-slate-700;
  }
}
