:root {
    --bg: lavenderblush;
    --textNormal: #222;
    --textRevert: cornsilk;
    --linkNormal: #9bc5ec;
    --linkHighlight: #3498DB;
    --hr: hsla(0, 0%, 0%, 0.2);
    --logo: url("image/logo/laptop-cat-light.svg");
    --tableBorder: #d6d6d6;
    --dragColor: crimson;
    --dragBackground: gold;
    --heading: 25px;
}

body {
    font-family: "IBM Plex Sans KR";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    margin: 0;
}

body.dark {
    --bg: #1d3434;
    --textNormal: honeydew;
    --textRevert: darkslategray;
    --linkNormal: #4040e6;
    --linkHighlight: #68bcee;
    --hr: hsla(0, 0%, 100%, 0.2);
    --logo: url(image/logo/laptop-cat-night.svg);
    --tableBorder: #535353;
    --dragColor: darksalmon;
    --dragBackground: cornflowerblue;
}

body.dark :not(pre)>code[class*="language-"],
body.dark pre[class*="language-"] {
    background-color: #161721;
}

::selection {
    color: var(--dragColor);
    background-color: var(--dragBackground);
}

blockquote {
    background-color: rgba(0, 0, 0, 0.1);
    border-left: 5px solid var(--linkNormal);
    padding: 0.7rem 1.2rem;
    margin: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin-bottom: 0;
}

h1 {
    font-size: var(--heading);
}

h2 {
    font-size: calc(var(--heading) - .1rem);
}

h3 {
    font-size: calc(var(--heading) - .2rem);
}

h4 {
    font-size: calc(var(--heading) - .3rem);
}

h5 {
    font-size: calc(var(--heading) - .4rem);
}

h6 {
    font-size: calc(var(--heading) - .5rem);
}

h1 a, h2 a, h3 a, aside a {
    box-shadow: none;
    transition: none;
    color: initial;
}

a {
    color: var(--textNormal);
    text-decoration: none;
    box-shadow: inset 0 -3px 0 var(--linkNormal);
    transition: box-shadow .5s, color .2s;
}

a:hover {
    box-shadow: inset 0 -50px 0 var(--linkHighlight);
    color: var(--textRevert);
}

hr {
    background-color: var(--hr);
}

table {
    max-width: 500px;
}

td, th {
    border-bottom: 1px solid var(--tableBorder);
}

:not(pre)>code {
    white-space: break-spaces !important;
    word-break: break-word !important;
}

input[type="checkbox"] {
    position: relative;
    width: 1em;
    height: 1em;
    margin-top: .25em;
    vertical-align: top;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid lightgray;
    border-radius: .25em;
    vertical-align: middle;
}

input[type="checkbox"]:checked {
    background-color: slateblue;
}

input[type="checkbox"]:checked::after {
    content: "X";
    position: absolute;
    top: 0;
    width: 100%;
    color: snow;
    font-weight: 700;
    font-size: 0.7rem;
    text-align: center;
}

.main-logo {
    content: var(--logo);
}

.logo {
    display: inline-block;
    width: 20px;
    height: auto;
    vertical-align: sub;
    margin-right: 0.4rem;
}

.logo.leetcode {
    content: url("image/logo/leetcode.svg");
}

.logo.github {
    content: url("image/logo/github.svg");
}

.logo.blog {
    content: url("image/logo/blog.png");
}

.post-head {
    margin: 0.2rem;
}

.post-tail {
    font-weight: normal;
    font-size: small;
    margin-left: .5rem;
    opacity: .8;
}

.post-tail::before {
    content: "(";
}

.post-tail::after {
    content: ")";
}

.post-body h1,
.post-body h2,
.post-body h3,
.post-body h4,
.post-body h5,
.post-body h6 {
    margin-top: 1.7rem;
    margin-bottom: .2rem;
}

@media (max-width: 45rem) {

    .post-body h1,
    .post-body h2,
    .post-body h3,
    .post-body h4,
    .post-body h5,
    .post-body h6 {
        margin-left: 1rem;
    }

    .post-body h1 .anchor svg,
    .post-body h2 .anchor svg,
    .post-body h3 .anchor svg,
    .post-body h4 .anchor svg,
    .post-body h5 .anchor svg,
    .post-body h6 .anchor svg {
        visibility: visible;
    }
}